<header class="masthead headerindex" style="background-image: url(https://picsum.photos/1900/1267);">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Rial News</h1>
                    <span class="subheading">Donde la libertad de expresión es respetada</span>
                </div>
            </div>
        </div>
    </div>
</header>



<!-- Post preview-->
<div id="noticia" class="post-preview">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
            <p style="color: green"><%= notice %></p>
                <% @noticias.each do |noticia| %>
                <a href="/noticia/<%= noticia.id %>">
                    <h3 class="post-title"><%= noticia.titulo %></h3>
                    <h5 class="post-subtitle"><%= noticia.encabezado %></h5>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">Start Bootstrap</a>
                    on <%= noticia.created_at %>
                </p>
                <hr class="my-4" />
                <% end %>
            </div>
        </div>
    </div>
</div>
